<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<!-- Variabili -->
	<variable name="logDirectory" value="${basedir}/Logs"/>
	<variable name="appName" value="DialysisManagement"/>

	<!-- Layout comuni -->
	<variable name="defaultLayout"
			  value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"/>

	<variable name="detailedLayout"
			  value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${callsite:className=true:methodName=true:includeSourcePath=false} | ${message} ${exception:format=tostring,Data:maxInnerExceptionLevel=10}"/>

	<!-- Targets -->
	<targets async="true">

		<!-- File log giornaliero -->
		<target xsi:type="File"
				name="fileTarget"
				fileName="${logDirectory}/${appName}_${shortdate}.log"
				layout="${defaultLayout}"
				archiveFileName="${logDirectory}/archives/${appName}_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				encoding="utf-8"/>

		<!-- File errori -->
		<target xsi:type="File"
				name="errorFileTarget"
				fileName="${logDirectory}/errors/${appName}_errors_${shortdate}.log"
				layout="${detailedLayout}"
				archiveFileName="${logDirectory}/errors/archives/${appName}_errors_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="90"
				encoding="utf-8"/>

		<!-- File audit -->
		<target xsi:type="File"
				name="auditFileTarget"
				fileName="${logDirectory}/audit/${appName}_audit_${shortdate}.log"
				layout="${longdate} | ${message}"
				archiveFileName="${logDirectory}/audit/archives/${appName}_audit_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="365"
				encoding="utf-8"/>

		<!-- Console (solo per debug) -->
		<target xsi:type="ColoredConsole"
				name="consoleTarget"
				layout="${defaultLayout}"
				useDefaultRowHighlightingRules="true"/>

		<!-- Database log (opzionale) -->
		<target xsi:type="Database"
				name="databaseTarget"
				connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
				commandText="INSERT INTO system_logs(LogDate, LogLevel, Logger, Message, Exception, MachineName, UserName) 
                         VALUES(@LogDate, @LogLevel, @Logger, @Message, @Exception, @MachineName, @UserName)">
			<parameter name="@LogDate" layout="${date}"/>
			<parameter name="@LogLevel" layout="${level}"/>
			<parameter name="@Logger" layout="${logger}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Exception" layout="${exception:tostring}"/>
			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@UserName" layout="${windows-identity}"/>
		</target>

	</targets>

	<!-- Rules -->
	<rules>
		<!-- Tutto su file principale -->
		<logger name="*" minlevel="Debug" writeTo="fileTarget"/>

		<!-- Errori e Fatal su file dedicato -->
		<logger name="*" minlevel="Error" writeTo="errorFileTarget"/>

		<!-- Audit su file separato -->
		<logger name="*.AuditService" minlevel="Info" writeTo="auditFileTarget" final="true"/>

		<!-- Console solo in debug -->
		<logger name="*" minlevel="Trace" writeTo="consoleTarget">
			<filters defaultAction="Log">
				<when condition="'${environment:DEBUG}' != 'true'" action="Ignore"/>
			</filters>
		</logger>

		<!-- Ignora messaggi troppo verbosi -->
		<logger name="Microsoft.*" maxlevel="Info" final="true"/>
		<logger name="System.*" maxlevel="Info" final="true"/>

	</rules>
</nlog>
